/* font face link */

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Abhaya-Libre;
  src: url("../font/Abhaya_Libre/AbhayaLibre-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Poppins;
}

ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 32px;
  font-family: Abhaya-Libre;
}
h1 span {
  color: #ffcc00;
}
#siz53 {
  font-size: 53px;
  letter-spacing: 7px;
}
/* h1 span{
    font-weight: 53px;
} */
h2 {
  font-size: 31px;
}
h3 {
  font-size: 28px;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}
.col-50 {
  width: 50%;
}
.col-33 {
  width: 33%;
}
.col-25 {
  width: 25%;
}
.col-20 {
  width: 20%;
}

.common-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* navbar part */
.navbar {
  background-color: white;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav,
.navbar-brand,
.navlist,
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-togglar {
  display: none;
}

.navlist a {
  padding: 10px 15px;
  text-transform: uppercase;
}

/* banner part */
.banner {
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 50px;
}

.banner .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  width: 1050px;
  background: rgba(118, 84, 55, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid black;
  text-align: center;
  padding: 62px 0;
  border-radius: 2px;
}
.banner-content h1 {
  color: white;
}

/* ================== photo part ================  */
.photo {
  background-color: #33342e;
}
.textalign {
  color: white;
  padding: 200px 90px 0;
}

/*=================== luxury part ==============*/
.luxury .container{
  padding: 100px 0;
}
.box{
  width: 890px;
  height: 550px;
  border: 7px solid #5B4137;
  padding: 150px 25px 130px 450px;
  margin-left:  320px;

  position: relative;
}

.photo-view-1{
  width: 225px;
  position: absolute;
  left: -380px;
  top: 0;
}

.photo-view-2{
  width: 225px;
  position: absolute;
  left: -125px;
  top: 70px;
}

.photo-view-3{
  width: 225px;
  position: absolute;
  left: 130px;
  top: 140px;
}

.para-align p{
  color: white;
  text-align: end;
  margin-top: -45px ;
  margin-right: 20px  ;
}

/*  */